body {
    overflow: scroll;
}
.app-content {
    overflow: visible;
    padding-bottom: 0px;
    min-height: 750px;
}
.projects-section {
    padding: 0;
}
.map-holder {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
#map {
    width: 100%;
    height: auto;
    min-height: 520px;
    padding: 0;
    margin: 0;
}
.legend {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 2%;
}
.legend button {
    display: inline-block;
    padding: 15px;
    margin: 10px 0.5%;
    border: 0px;
    color: #333;
    border-radius: 10px;

}

.legend button:hover {
    background: #e6e6e6;
}

.legend h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    opacity: 0.9;
    color: var(--main-color);
    padding: 20px 0 5px 15px;
    margin: 0px;
}

.square {
    width: 5px;
    height: 5px;
    display: block;
    position: absolute;
    z-index: 100;
    background: #fff;
    padding: 4px 3px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.market:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #60c5bf;
}

.polygraphy:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #965a11;
}

.campus:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #f2540d;
}

.translation:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #4d4d4f;
}

.parks:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #37b9e3;
}

.migration:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #a2a3a7;
}

.polyclinic:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #1e6933;
}