#content {
    margin-top: 50px;
    text-align: center;
}
section.timeline-outer {
    width: 80%;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    min-width: 550px;
    width: 90%
}

h1.header {
    font-size: 50px;
    line-height: 70px;
}
/* Timeline */

.timeline {
    border-left: 8px solid #42A5F5;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #333;
    margin: 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    padding: 20px;
    list-style: none;
    text-align: left;
}

.timeline h1,
.timeline h2,
.timeline h3 {
    font-size: 1.4em;
}

.timeline .event {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -177.5px;
    color: #212121;
    content: attr(data-date);
    text-align: right;
    /*  font-weight: 100;*/
    font-size: 16px;
    min-width: 120px;
}

.timeline .event:after {
    box-shadow: 0 0 0 8px #42A5F5;
    left: -30px;
    background: #212121;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}

.headering {
    display: block;
}

.blue.lighten-1 {
    background-color: #42A5F5 !important
}

.light-blue.lighten-1 {
    background-color: #29b6f6 !important
}

.blue-text {
    color: #2196F3 !important
}


/*——————————————
Responsive Stuff
———————————————*/

@media (max-width: 945px) {
    .timeline .event::before {
        left: 0.5px;
        top: 20px;
        min-width: 0;
        font-size: 13px;
    }
    .timeline h3 {
        font-size: 16px;
    }
    .timeline p {
        padding-top: 20px;
    }
    section.lab h3.card-title {
        padding: 5px;
        font-size: 16px
    }
}

@media (max-width: 768px) {
    .timeline .event::before {
        left: 0.5px;
        top: 20px;
        min-width: 0;
        font-size: 13px;
    }
    .timeline .event:nth-child(1)::before,
    .timeline .event:nth-child(3)::before,
    .timeline .event:nth-child(5)::before {
        top: 38px;
    }
    .timeline h3 {
        font-size: 16px;
    }
    .timeline p {
        padding-top: 20px;
    }
}

@media only screen and (min-width: 601px) {
    .container {
        width: 85%
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 70%
    }
}

.container .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px
}

.row:after {
    content: "";
    display: table;
    clear: both
}

.row .col {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0.75rem
}

.row .col.s12 {
    width: 100%;
    margin-left: 0
}

@media only screen and (min-width: 601px) {
    .row .col.m12 {
        width: 100%;
        margin-left: 0
    }
}

@media only screen and (min-width: 993px) {
    .row .col.l12 {
        width: 100%;
        margin-left: 0
    }
}